@charset "utf-8";

@import url("share/default.css");

/* =========================================
*  COMMON
* ========================================= */

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	font: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

a {
	color: #0063E8;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* =========================================
*  FRAME
* ========================================= */

div#pagebody {
	padding-top: 1em;
	height: 100%;
}

/* =========================================
*  CONTENTS
* ========================================= */

input {
	width: 4em;
}
