@charset "utf-8";

@import url("share/default.css");

/* =========================================
*  COMMON
* ========================================= */



/* =========================================
*  FRAME
* ========================================= */

div#pagebody {
	padding-top: 1em;
	height: 100%;
}

/* =========================================
*  CONTENTS
* ========================================= */

input {
	width: 4em;
}
